[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kaggle = "*"
pandas = "*"
numpy = "*"
pylint = "*"
sklearn = "*"
scipy = "*"
matplotlib = "*"
lightgbm = "*"
seaborn = "*"
jupyter = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.6"
